
@font-face {
  font-family: 'IranSans';
  font-display: swap;
  src: url('./font/YekanBakhFaNum-Regular.woff2') format('woff2'),
       url('./font/YekanBakhFaNum-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nastalig';
  font-display: swap;
  src: url('./font/IranNastaliq.woff2') format('woff2'),
       url('./font/IranNastaliq.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "Edwardian Script ITC V1";
    src: url("https://db.onlinewebfonts.com/t/ca6f91c0cad2fe33614026d17117601d.eot");
    src: url("https://db.onlinewebfonts.com/t/ca6f91c0cad2fe33614026d17117601d.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/ca6f91c0cad2fe33614026d17117601d.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/ca6f91c0cad2fe33614026d17117601d.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/ca6f91c0cad2fe33614026d17117601d.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/ca6f91c0cad2fe33614026d17117601d.svg#Edwardian Script ITC V1")format("svg");
}

@keyframes dropTop{
  0%{
    transform: translateY(-100%) scale(0);
    opacity: 0;
  }
  100%{
    transform: translateY(0%) scale(1);
    opacity: 1;
  }
}


.mulish {
  font-family: "Mulish";
}

.iranNastaliq {
  font-family: 'Nastalig';
}

.edwardian-script {
  font-family: "Edwardian Script ITC V1";
}

/* @font-face {
  font-family: IranSans;
  src: url(./font/0b0a8c345731751b990403a2cf40fbec.ttf);
} */

.iran-sans {
  font-family: IranSans;
  /* direction: rtl; */
}

.dir-rtl {
  direction: rtl;
}

.dir-ltr {
  direction: ltr;
}

.test-color {
  color: black;
  background-color: aqua;
}

.header-dropdown-fix>a {
  margin-right: 25px;
  margin-left: 0px;
}

.fix-direction {
  direction: rtl;
}

.test-style {
  color: red;
  padding: 10px;
}

.font-iran {
  font-family: IranSans;
}

.back-fix {
  --bs-bg-opacity:0;
}

  
